<header class="main-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-warning text-center font-weight-bold">
                    <%= title %>
                </h1>
            </div>
        </div>
    </div>

</header>


<section class="main-profile">
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 offset-sm-0 col-sm col-lg-4">
                <img src="<%= imageURL %>" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-sm col-lg-8">
                <p class="profile-text text-justify">
                    <%= description %>
                </p>
                <div class="text-center">
                    <a class="email" href="mailto:<%= contactData.email %>">
                        <%= contactData.email %>
                    </a>
                    <div class="dropdown-divider"></div>
                    <button data-toggle="modal" data-target="#email-form" type="button" class="btn btn-warning">¡Dejame un mensaje!</button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="email-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Hazme saber si quieres mas información</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                            </div>
                            <div class="modal-body">
                                <form action="/contact" method="POST">
                                    <div class="form-group">
                                        <input name="emailFromUser" class="form-control" type="email" required placeholder="Tu email para responderte">
                                    </div>
                                    <div class="form-group">
                                        <textarea required placeholder="El asunto de tu mensaje aquí..." class="form-control" name="emailMessage" id="" cols="30" rows="10"></textarea>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Volver</button>
                                        <button type="submit" class="btn btn-outline-warning">Enviar email</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="dropdown-divider"></div>
                <div class="text-center">
                    <pre class="text-white">O contactáme al siguiente teléfono:</pre>
                    <a class="phone-number text-warning" href="tel:+34676016211"> <i class="fa fa-2x fa-fw fa-mobile" aria-hidden="true"></i> <i class="fa fa-2x fa-fw fa-whatsapp" aria-hidden="true"></i>
                        <%= contactData.phone %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>